[user]
	name = Matthew Pauly
	email = mjpauly@mac.com
[core]
	editor = nvim
	excludesfile = /Users/matthewpauly/.gitignore
[diff]
        tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -R -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
